/* styles.css */
/*COLOR HEADER BACKGROUND #B4CDE4*/
/*COLOR MAIN BACKGROUND #f0f0ef*/
/*COLOR FOOTER BACKGROUND #003366*/
/*COLOR FONT TITLE MAIN  ##003366*/


/*body*/
body {
    font-family: "Parkinsans", sans-serif;
    background-color: #ffffff; 
    color: #333; 
    margin: 0; 
    flex-direction: column;
    display: flex;
}

/* HEADER OPTIONS */
header {
    background-color: #B4CDE4; 
    color: #000000; 
    padding: 0.5%; 
    text-align: center; 
    }

/* LEFT SIDE LOGO */
.left-logo {
    
	max-width: 150px;
	max-height: 15  0px;
    float:left;
}
/*HEADER TITLE*/
h1 {
    font-family: "Parkinsans", sans-serif;
    color:#000000;

}

/* NAVIGATION BAR */
nav {
    margin: 10px 0;
    font-size: 1.3em;

}
nav a {
    font-family:"Parkinsans", sans-serif;
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 1%; 
    transition: background-color 1s; 
    border-radius:1.1em;
}

nav a:hover {
    background-color: #aebed1; 
    border-radius: 1.1em;
}

/* MAIN CONTENT*/
/*BACKGROUND*/
main {
    flex: 1;
    background-color: #f0f0ef; 
    padding: 1%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
/*MAIN CONTENT TITLE*/
h2 {
    font-family: "Parkinsans", sans-serif;
    font-size: 30px;
    color: #003366;
    text-align: center;
    margin:10px;
 
}

/* DOWN THE RIVER SECTION*/
.hero {
    overflow: hidden; 
    background-image: url("../styles/images/raft.webp");
    background-size:cover;
    background-position: center;
    border: 10px solid #ccc; 
    border-radius: 10px; 
    
}



article {
    display:flex; 
    bottom: 1%; 
    color: rgb(219, 219, 219); 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 1%; 
    border-radius: 5px;
    
}
/*MAIN CONTENT INFORMATION*/
p {
    font-family:'Montserrat', sans-serif; 
    font-size: 150%; 
    line-height: 1.5; 
}

/* HAPPY PEOPLE */
.happypeople {
    width: 30%; 
    height: 50%; 
    float: right; 
    margin-right: 0.5%; 
}

/* SAMPLE1 AGAIN HOME */
.sample1again {
    width: 30%; 
    height: 50%; 
    float: right; 
    margin-right: 0.2%; 
    padding:20px
}

/* HISTORY SECTION*/
.historysection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ccc; 
    border-radius: 10px; 
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9; 
    max-width: 13000px; 
    margin-left: auto; 
    margin-right: auto; 
}

.textleft, .textmiddle {
   font-size: 70%;
   
    
}


.imagehistory {
    flex: 1000%; 
    margin: 0 20px; 
}

.imagehistory img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

/* ADVENTURE SECTION*/

.adventuresgallery {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 5rem; 
    border: 2px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    padding: 20px;
    margin: 20px;

}

figure {
    margin: 0; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
}

img {
    width: 100%; 
    height: 87%; 
    display: block; 
}

figcaption {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 0.5rem; 
    font-size: 1rem; 
}

/* FOOTER*/
.footer {
    background-color: #003366; 
    color: white; 
    padding:1rem; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.footertext {
    flex-grow: 1; 
    text-align: center; 
    font-size: 130%;
}

.socialmedia {
    display: flex; 
    gap: 0.8rem;
}

.socialmedia img {
    width: 30px; 
    height: auto; 
    transition: transform 0.8s;
}

.socialmedia img:hover {
    transform: scale(1.1); 
}

/*NEWSLETTER RELATED*/

.newsletter {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.newsletter form {
    display: flex;
    flex-direction: column;
}

.newsletter label {
    margin: 10px 0 5px;
}

.newsletter input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta {
    text-align: center;
    padding:20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #003366;
    margin:20px;
   
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 400px;
    padding: 20px;
    
    
}

.grid-itemcont {
    display:flex;
    background-color: #B4CDE4;
    border-radius: 5px;

    border: 1px solid #003366;
    margin:20px;
    align-items: center;
}

.grid-itemcont img {
    display:flex;
    max-width: 20%;
    max-height: 200px;
    border-radius: 5px;
    justify-content:center;
    align-items:center;
}

.grid-item {
    background-color: #B4CDE4;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #003366;
    margin:20px
}


.grid-item img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 5px;
}

.h3 {
    font-family: "Parkinsans", sans-serif;
    font-size: 200%;
    color: #003366;
    text-align: center;
}

/*TABLE STUFF*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #003366;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


/* Additions for Contact Us page */

#company-info {
    margin:10px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    overflow:auto
     
}

#company-info iframe {
    width: 100%;
    height: 250px;
    border: none;
}

#employee-profiles {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    margin:10px;
    
}

.profile {
    padding:30px;
    margin: 30px;
    text-align: center;
    font-family:"Parkinsans", sans-serif;
    font-size:medium;
    color:#000000
    
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    padding:30px
    

}

#contact-form {
    padding: 40px;
    margin:10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact-form form {
    margin-top: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

#contact-form input[type="radio"] {
    margin-right: 10px;
}

#contact-form input[type="checkbox"] {
    margin-right: 10px;
}

#contact-form input[type="submit"] {
    background-color: #003366;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #05284b;
}
.staff {
padding: 5px;
border:20px;
margin:0px;
max-width:700px;
max-height:400px;
float:right;
}



.meetourteam {
    font-family: "Parkinsans", sans-serif;
    font-size: 30px;
    font-weight:bold;
    color: #003366;
    text-align: center;
    margin:10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    overflow:auto
}






